@import '../../styles/variables';

.button {
  border: none;
  color: $color-button-text;
  background-color: $color-button-default;
  text-transform: uppercase;
  padding: 10px 20px;
  transition: all 200ms;
  display: flex;

  img {
    margin-left: 10px;
  }

  &:hover,
  &:active {
    background-color: $color-button-default-hover;
  }
}
